  <section>
    <div class="row">
      <div class="col-lg-12 page-header text-center">
        <h2 id="about-us">ABOUT US</h2>

      </div>
    </div>

	<div class="container ">
      <div class="row">

        <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/will_portrait.jpg" data-holder-rendered="true">
          <h3>William Guss</h3>
          <p>Software Engineer</p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center"> <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/kunal_portrait.jpg" data-holder-rendered="true">
          <h3>Kunal Gosar</h3>
          <p>Software Engineer</p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/phil_portrait.jpg" data-holder-rendered="true">
          <h3>Phillip Kuznetsov</h3>
          <p>Software Engineer</p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/arda_portrait.jpg" data-holder-rendered="true">
          <h3>Arda Sahiner</h3>
          <p>Software Engineer</p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/frankie_portrait.jpg" data-holder-rendered="true">
          <h3>Frankie Lin</h3>
          <p>Chief Financial Officer</p>
        </div>
        <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/zach_portrait.jpg" data-holder-rendered="true">
          <h3>Zach Schmidt</h3>
          <p>Marketing and Industry Relations</p>
        </div>
        <div align="center">
          <div class="col-lg-3 col-sm-12 text-center"></div>
	        <div class="col-lg-6 col-sm-12 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/brianna_portrait.jpg" data-holder-rendered="true">
	          <h3>Brianna Honkawa d'Estries</h3>
	          <p>Chief Design Officer</p>
	        </div>
        </div>

      </div>
    </div>
</section>


{{outlet}}

