<div class="about-me">
<div class="container">

  <section>
    <div class="row">
      <div class="col-lg-12 page-header text-center">
        <h2 id="about-whatslit">About What's Lit</h2>

      </div>
    </div>

    <div class="container ">
      <div class="row">

        <div class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2 text-center">
          <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/LIT.jpg" data-holder-rendered="true"><p></p>
          <h4> Started in 2015 by University of California, Berkeley students, What’s Lit is the premier event rating application. By instantly connecting people to their local community, we hope to create a more exciting and engaging social experience. This might mean helping others decide where to go tonight, giving a “heads-up” on the parking situation at a music festival, or even to hype up that block party you’re at. What’s Lit is your first and final destination for real-time updates of what’s actually up.</h4>
          <br><p></p><h4>After registering their location, users can interact with a map to find the hottest events with the click of a button. In addition to users just trying to find out the latest news about that party on the corner of 5th street, they can take a more active role by rating events, commenting on the atmosphere, or pinning additional events to the map.</h4>
        </div>

      </div>
    </div>
    </section>
    <section>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 page-header text-center">
          <h2 id="about-us">Meet the Team</h2>

        </div>
      </div>

  	<div class="container ">
        <div class="row">

          <div class="col-lg-4 col-sm-6 col-md-6 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/will_portrait.jpg" data-holder-rendered="true">
            <h3>William Guss</h3>
            <p>Software Engineer</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6 text-center"> <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/kunal_portrait.jpg" data-holder-rendered="true">
            <h3>Kunal Gosar</h3>
            <p>Software Engineer</p>
            <!-- kunalgosar.me -->
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/phil_portrait.jpg" data-holder-rendered="true">
            <h3>Phillip Kuznetsov</h3>
            <p>Software Engineer</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/arda_portrait.jpg" data-holder-rendered="true">
            <h3>Arda Sahiner</h3>
            <p>Software Engineer</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/frankie_portrait.jpg" data-holder-rendered="true">
            <h3>Frankie Lin</h3>
            <p>Chief Financial Officer</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/zach_portrait.jpg" data-holder-rendered="true">
            <h3>Zach Schmidt</h3>
            <p>Marketing and Industry Relations</p>
          </div>
          <div align="center">
  	        <div class="col-lg-4 col-sm-6 col-md-6 col-md-offset-3 col-lg-offset-4 col-sm-offset-3 text-center"><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="/assets/img/brianna_portrait.jpg" data-holder-rendered="true">
  	          <h3>Brianna Honkawa d'Estries</h3>
  	          <p>Chief Design Officer</p>
  	        </div>
          </div>

        </div>
      </div>
  </section>


  {{outlet}}

</div>
</div>
