
  <header>
    <div class="jumbotron">
     <div class="backgroundflame">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center">What's Lit?</h1>
            <p class="text-center">A Crowdsourced Events Rating. </p>

            <center><img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="img/LIT.jpg" data-holder-rendered="true"></center>
            <h1></h1>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="#about-us" role="button">Learn more</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

{{outlet}}

<ul>
	{{#each model as |color|}}
		<li>{{color}}</li>
	{{/each}}
</ul>
