<div class="container">
	<div class="login">
	<!--[if lt IE 9]>
    <script>
      document.createElement('video');
    </script>
  <![endif]-->

  <video autoplay loop preload='none' poster="assets/img/background_small.png" id="bgvid">
      <source src="assets/video/lights_short.mp4" type="video/mp4">
  </video>

	{{login-form}}

	{{outlet}}
	</div>
</div>
